.button {
  padding: var(--size-2) var(--size-3);
  cursor: pointer;

  & span {
    text-transform: uppercase;
    font-size: var(--font-size-1);
  }
  &.dark {
    border: solid 1px var(--accent-one);
    background-color: var(--accent-one);
    color: var(--text-white);
    font-weight: var(--font-weight-4);
    &:hover {
      background-color: var(--accent-two);
    }
  }
  &.light {
    border: solid 1px var(--accent-one);
    color: var(--accent-one);
    background-color: transparent;
    font-weight: var(--font-weight-5);
    &:hover {
      background-color: var(--shadow);
    }
  }
}
