.hero-container {
  height: 100%;
  display: grid;
  place-items: center;
}
.hero {
  max-width: 75%;
  display: grid;
  gap: var(--size-2);
}
@media (min-width: 900px) {
  .hero {
    max-width: 50%;
    display: grid;
    gap: var(--size-4);
  }
}
.hero-container h1 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-7);
}
.hero-container p {
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-1);
}
.button-wrapper {
  display: flex;
  gap: var(--size-2);
}
