.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size-3);
  background-color: var(--transparent-dark);
}
.logo {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  text-transform: uppercase;
  color: var(--text-white);
}
.navlinks {
  display: flex;
  gap: var(--size-3);
}
.navlink {
  padding: var(--size-3) var(--size-2);
  cursor: pointer;
  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-white);
    font-weight: var(--font-weight-3);
  }
  &:hover {
    background-color: var(--shadow);
  }
}
