---
import Button from '../parts/Button.astro';
---

<section class="hero-container">
  <div class="hero">
    <h1>Less efforts, Learn more.</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque quaerat
      ut natus fugit tempore corporis, dolorum, laudantium repellendus accusamus
      libero aut! Saepe a autem rem est, temporibus ipsam repudiandae facilis!
      Qui perspiciatis optio odit, sequi quod doloremque mollitia natus rem
      saepe provident voluptas aliquam facilis repellendus corporis fuga
      veritatis suscipit minima!
    </p>
    <div class="button-wrapper">
      <Button type="dark">Join Now</Button>
      <Button type="light">View Plans</Button>
    </div>
  </div>
</section>
