---
import Navbar from '../components/sections/Navbar.astro';
import Footer from '../components/sections/Footer.astro';
---

<div class="wrapper">
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
</div>
